.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;

}

.task-list {
    width: 100%;
    display: grid;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 20px;
    grid-template-columns: 40px 60px 1fr 2fr .5fr;
}

.list-header {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.list-item {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.delete-btn {
    width: 47%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.delete-btn:hover {
    background-color: #ac0909;
}

.update-btn {
    width: 47%;
    padding: 10px;
    background-color: rgb(48, 175, 48);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.update-btn:hover {
    background-color: green;
}

#delete_checkbox {
    width: 17px;
    height: 17px;
}

.multiple-delete {
    padding: 10px 15px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

.multiple-delete:hover {
    background-color: #ac0909;
}