.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    padding: 20px 15px;
    color: white
}

.nav-logo {
    font-size: 24px;
    font-weight: 700;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.nav-link a:hover {
    color: #bfbcbc;
}